[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token
[submodule "lib/ds-vault"]
	path = lib/ds-vault
	url = https://github.com/dapphub/ds-vault
[submodule "lib/ds-aver"]
	path = lib/ds-aver
	url = https://github.com/dapphub/ds-aver
[submodule "lib/ds-thing"]
	path = lib/ds-thing
	url = https://github.com/dapphub/ds-thing
[submodule "lib/ds-value"]
	path = lib/ds-value
	url = https://github.com/dapphub/ds-value
